<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        <beans>
        <!-- <bean id="e" class="com.java.employee"></bean>
        <bean id="s" class="com.java.student"></bean> -->
        <bean id="e" class="com.java.engine">
        <property name="modelyear" value="2015"></property>
        </bean>
        <bean id="c" class="com.java.car">
        <property name="carname" value="audi"></property>
        
        
        
        </bean>
        
        
        
        
        
        </beans>